.my-box {
  width: 100%;
  height: 50px;
  position: fixed;
  border: 2px solid #697459;
  padding:1em;
  margin: 1em;
  font-family: 'Merriweather', serif;
  float: left;
}
.mail-order {
  position: right
  background-color: gold;
  color: #333;
  padding: 1em 2em;
  border: 3px solid #481736;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-family: 'Titan One', cursive;
}
